{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": ["defaults", "not ie < 12", "not safari < 9", "not android < 5"]
          },
          "useBuiltIns": "entry",
          "corejs": 3
        },
        "preset-react": {},
        "transform-runtime": {},
        "plugin-proposal-class-properties": {}
      }
    ],
    [
      "@emotion/babel-preset-css-prop",
      {
        "autoLabel": true,
        "labelFormat": "[local]",
        "sourceMap": true
      }
    ]
  ],
  "plugins": []
}